{% extends 'base.html' %}

{% block content %}

<div class="content">
   <h1 class="right">Browse Our Online Bookstore Selection</h1>
    <div class="row">
      <div class="col-lg-3">
        <div class="product_list_category">CATEGORY</div>
        <div class="list-group">
          {% for cat in category %}
            <a href="{% url 'show_products_category' cat.name %}" class="list-group-item">{{cat.name}}</a>
          {% endfor %}
          
        </div><br/>
        <div class="product_list_author">AUTHOR</div>
       <div class="list-group">
          {% for aut in author %}
            <a href="" class="list-group-item">{{aut.firstname}} {{aut.lastname}}</a>
          {% endfor %}
          
        </div>
        <div class="display">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name='q' placeholder="Search"/>
                <input type="submit" value="Search"/>
            </form>
        </div>
      </div>
      
      <!-- /.col-lg-3 -->
     
      <div class="col-lg-9">
        <div class="row">
          {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="{% url 'product_detail' product.id %}"><img class="card-img-top" src="{{ MEDIA_URL }}{{product.image}}" alt=""></a>
                <div class="card-body">
                  <span class="one-line">
                    <strong>
                    <a href="{% url 'product_detail' product.id %}">{{product.name}}</a></strong>
                  </span><br/>
                  <span class="one-line">{{ product.author }}</span><br/><br/>
                  <strong>${{product.price}} CAD</strong><br/>
                  {% if product.instock > 0 %}
                    <span>In Stock</span>
                    {% else %}
                    <span>Out of Stock</span>
                    {% endif %}
                </div>
                <div class="card-footer">
                  <form method="post" action="{% url 'add_to_cart' product.id %}" class="store_add_to_cart">
                      {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-btn">
                               {% if product.instock > 0 %}
                               <button class="btn btn-success btnAddToCart" name="quantity" value="1" type="submit"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
                               {% else %}
                               <button class="btn btn-success btnAddToCart"  type="submit" disabled><i class="fa fa-shopping-cart"></i>Out of Stock</button>
                               {% endif %}
                            </span>
                        </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
</div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="pagination">
            {% if products.has_previous %}
              <a class="pagination-action" href="?page=1">First</a>
              <a class="pagination-action" href="?page={{ products.previous_page_number }}">Previous</a>
            {% endif %}
                
            {% for num in products.paginator.page_range %}
              {% if products.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
              {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
                
            {% endfor %}
                
            {% if products.has_next %}
              <a class="pagination-action" href="?page={{ products.next_page_number }}">Next</a>
              <a class="pagination-action" href="?page={{ products.paginator.num_pages }}">Last</a>
            {% endif %}
                
        </div>
    </div>
  </div>
  
{% endblock %}
