@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap');


/*------------------------------------------------------Footer*/

footer{
    background-color: #d32630;
    color: #fafafa;
    min-height: 120px;
    margin:0;
}

#footer-details{
    margin:20px;
    letter-spacing:0.2em;
}

/*Code taken from Code institute learning videos(Resume Project)*/
.social-links li a i{
    width: 32px;
    height:32px;
    padding:12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all,0.35s ease-in-out;
    -moz-transition: all,0.35s ease-in-out;
    -webkit-transition: all,0.35s ease-in-out;
    -o-transition: all,0.35s ease-in-out;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    width: 50px;
    height:50px;
    padding:35px 0;
    border-radius: 80%;
    font-size: 60px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all,0.35s ease-in-out;
    -moz-transition: all,0.35s ease-in-out;
    -webkit-transition: all,0.35s ease-in-out;
    -o-transition: all,0.35s ease-in-out;
}





.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/* Nav bar */
.navbar-dark .navbar-brand{
    font-family: 'Mountains of Christmas', cursive !important;
    font-size: 30px;
    font-weight: bold;
}

.navbar{
    background-color: #d32630;
}
.content{
    padding-top: 90px;
}
.carousel-item img{
    width:900;
    height:600;
}

/*login and register page*/
legend{
     text-align: center;
    font-family: 'Mountains of Christmas', cursive ;
    font-weight: bold;
    font-size:40px;
}
/* Product List styles */
.display{
    padding-top: 20px;
}
.right{
   text-align: center;
    font-family: 'Mountains of Christmas', cursive ;
    font-weight: bold;
}
.right-dropdown{
    text-align: right;
    font-family: 'Mountains of Christmas', cursive ;
    font-weight: bold;
    padding: 20px;
}

.product_list_category,
.product_list_author{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
.card-img-top{
    width: 250px;
    height: 350px;
    padding: 15px;
}
.card-title{
      font-family: 'Mountains of Christmas', cursive;
      font-size: 20px;
      font-weight: bold;
      
}
.one-line {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}


/* Product Detail styles */

.display_content{
    font-weight: bold;
}
.product_image_detail{
    margin-bottom:20px;
    float:left;
    padding-top: 40px;
    padding-right:40px;
    width:350px;
    height: 430px;
}


.product_name_detail{
    font-size:30px;
    display:block;
    font-weight:bold;
    padding-top: 40px;
    font-family: 'Mountains of Christmas', cursive !important;
}

.product_description_detail{
    padding-top:20px;
}

button > i{
  padding-right:10px;
}

.image-icon{
   height: 60px;
   width: 80px;
   float: left;
}


/* cart styles */
.cart-thumbnail-image{
    background-size: contain;
    background-position: center center;
    background-repeat: no repeat;
    width: 75px;
    height: 100px;
    margin: 0 auto;
}

/* Product_List style */
.store_product_image{
    width:250px;
    height:350px;
    padding:20px;

}


/* Pagination */
.pagination {
    text-align: center;
    margin-top: 1em;
    border-color: white;
    
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #28a745;
}

.pagination-number:hover, .pagination-current {
    background-color: #28a745;   
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover, .pagination-previous, .pagination-next {
    color: #3354AA;  
}
