{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="content">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header"><legend>Create a new account</legend></div>
                        <div class="card-body">
                            <form method="post" action="{% url 'register' %}" class="accountform">
                                <fieldset class="form-group">
                                    {% csrf_token %}
                                    {{  user_form | as_bootstrap }}
                                    <button type="submit" class="btn btn-success text-center">Create account</button>
                                    <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
